@charset "ISO-8859-1";

/* Form Log*/

form.form-log{
	position: absolute;
    margin: 13% 37%;
    text-align: center;
    height: 21rem;
}

.form-log div.field{
	vertical-align: middle;
}

/* Container*/
body {
	margin: 0px;
	box-sizing: border-box;
	background-color: ghostwhite;
}

div.container {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class^="col-"] {
	text-align: center;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px 0px 0px 0px;
	min-height: 60px;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.grids::after {
	content: "";
	clear: both;
	display: table;
}

.grids div.grid {
	text-align: center;
	float: left;
	min-height: 60px;
}
/* Header */
header {
	z-index: 1;
	position: fixed;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	display: inline-table;
	background-color: aliceblue;
	border-bottom: 1px solid #ccc;
}

/* btn*/
header div.btn {
	margin: 0px 0px 0px 5px;
	display: block;
	float: left;
}

div.btn img {
	display: inline-table;
	margin: 0px;
	padding: 0px;
	width: 58px;
	height: 58px;
	scale: 0.8;
}

div.btn p {
	display: block;
	padding: 19px;
	background: aliceblue;
	color: #595959;
	margin: 0px;
}

div.btn a {
	display: block;
	padding: 19px;
	background: aliceblue;
	color: #595959;
}

/* Title*/
header div.title {
	background: aliceblue;
	color: #595959;
	display: block;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
	float: left;
	padding: 19px;
}

/* Navbar */
header div.navbar {
	text-align: center;
	border: solid 1px transparent;
	display: block;
	padding-top: 13px;
	float: left;
}

div.navbar a {
	margin-left: 1px;
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	font-size: 22px;
	text-decoration: none;
	background-color: aliceblue;
	color: #595959;
}

.navbar a:hover {
	color: aliceblue;
	background-color: #595959;
	box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.2);
}

div.title p {
	margin: 5px;
	padding: 15px;
	text-align: center;
	font-size: 160%;
	color: white;
}

div.desplegable {
	display: inline-block;
	margin-left: 1px;
	margin-top: -10px;
}

div.desplegable button {
	padding: 10px 10px 10px 10px;
	font-size: 22px;
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: none;
	display: block;
	background-color: aliceblue;
	color: #595959;
	cursor: pointer;
}

div.desplegable div.desplegable-content {
	display: none;
	position: fixed;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.2);
	margin: 0px 0px;
}

div.desplegable div.desplegable-content a {
	margin-left: 0px;
	margin-top: 0px;
	font-size: 22px;
	text-decoration: none;
	background-color: #595959;
	color: aliceblue;
	display: block;
}

div.desplegable .desplegable-content a:hover {
	background-color: aliceblue;
	color: #595959;
}

.desplegable:hover .desplegable-content {
	display: block;
}

.desplegable:hover button {
	box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.2);
	color: aliceblue;
	background-color: #595959;
}

div.content {
	margin-left: 0px;
	padding: 60px 16px;
}

/* Input */

input[type=text], [type=number], [type=email], [type=password], [type=tel],
	[type=url] {
	font-size: 1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 2pc;
	padding-left: 3px;
	border-radius: 2px;
	border: 2px solid #555;
}

/* Field*/

.field {
	position: relative;
	margin-top: 30px;
}

/*Input tipo buscador*/
input[type=search] {
	font-size: 1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 25%;
	height: 2pc;
	padding-left: 3px;
	border-radius: 2px;
	border: 2px solid #555;
	transition: width 0.4s ease-in-out;
}

/*Checkbox */ /*Radio */
.checkcontent {
  padding-left: 35px;
  margin-bottom: 0px;
  font-size: 20px;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #555;
  border-radius: 2px;
}

.checkcontent input {
	margin: 0;
	padding: 0;
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkcontent:hover input ~ .checkmark {
  background-color: rgba(241, 245, 248, 1);
  cursor: pointer;
}
.checkcontent input:checked ~ .checkmark {
  border: 2px solid steelblue;
  background-color: aliceblue;
}
.checkcontent input:disbled ~ .checkmark {
  border: 2px solid black;
  background-color: #595959;
}
.checkcontent input:disabled ~ .checkmark:hover {
	cursor:not-allowed;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkcontent input:checked ~ .checkmark:after {
  display: block;
}
.checkcontent .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #595959;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/*Select*/

select {
	position: relative;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 2px solid #555;
	left: 0;
	height: 35px;
	width: 90%;
}

/*Buton*/
input[type=button], [type=submit], [type=reset] {
	width:auto;
	background-color: aliceblue;
	border: none;
	color: #595959;
	padding: 11px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button {
	background-color: aliceblue;
	border: none;
	color: #595959;
	padding: 11px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}